@model List<KanvasProje.Web.ViewComponents.CategoryViewModel>

<nav class="mg-nav">
    <div class="mg-nav__inner">
        <div class="mg-nav__links">
            <a href="/Urun/Index" class="mg-nav__link">Tüm Koleksiyonlar</a>
            @foreach (var item in Model.Take(8))
            {
                <a href="/Urun/Index?k=@item.Id" class="mg-nav__link">
                    @item.Ad
                </a>
            }
        </div>
        <span class="mg-nav__caption">Premium tablo ve dekorasyon</span>
    </div>
</nav>
